<div class="navbar-header col-xs-12">
	<a href="/test" class="validate"></a>
	<a class="navbar-brand clubbr-brand validate" href="/home" style="margin-top:10px;">Club Room</a>
	
	<div class="navbar-right pull-right" style="margin-right:10px;">
		<p class="navbar-text">
			<a tabindex="0" class="navbar-link login-focus" role="button" data-toggle="popover" data-placement="bottom">
				<img src="images/avatar.png" class="profile-thumbnail"></img>
			</a>
		</p>
	</div>

</div>