<!doctype html>

<html>
<head>
	<title>Clubbr</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = yes, maximum-scale=1.0">
	<link rel="icon" href="images/favicon.ico">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	{{> googleExperiment}}
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>


<!-- 	<div class ="index-buttons">


		<div class ="user_password">
			<form>
	  			<input type="text" name="username" placeholder="username"><br>
				<br>
	  			<input type="password" name="password" placeholder="password">
	  			</p></p>
			</form> 
		</div>
		<p><a href="/home" button id="login-button" class="btn btn-primary btn-lg">Login</button></p></a>
		<p><a href="/signup" button id="signup-button" class="btn btn-primary btn-lg">Sign Up!</button></p></a>
	</div> -->

	<div class="container">
	    <div class="row">
	        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	            <div class="account-wall">
	                <h1 class="login_title text-center"><b>Clubbr</b></h1>
	                <form class="form-signin">
		                <input id="email" type="text" class="form-control" placeholder="Email" required autofocus>
		                <input id="password" type="password" class="form-control" placeholder="Password" required>
		                <button id="submitBtn" class="btn btn-lg btn-primary btn-block" type="submit"> Sign in</button>
	                </form>
	                <a href="/signup" class="text-center new-account">Create an account </a>
	            </div>
	        </div>
	    </div>
	</div>
</div>

{{> googleAnalytics}}

</body>
</html>
