<!doctype html>

<html>
<head>
	<title>Clubbr</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = yes, maximum-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/clubbr.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/match_game.js"></script>

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

<!-- 	basic fixed navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container-fluid">
			<div class="navbar-header col-xs-12 ">
				<!-- the name/logo for the site, links to home page	 -->
				<a class="navbar-brand" href="/home">Clubbr</a>

				<div class="navbar-right pull-right">
					<!-- shows your username and profile pic -->
					<p class="navbar-text navbar-right right-padding">
						Signed in as <a href="/profile" class="navbar-link">Wendy Tang</a>
						<a href="/profile" class="navbar-link"><img src="images/wendy.jpeg" class="profile-thumbnail"></img></a
					</p>
				</div>
			</div> 
		</div>
	</nav>

	<!-- 	Meat of Match Me -->
	<div class="container-fluid club-container">
		<div class="row">
			<h2 id="club-title">Recycling Club</h2>

			<div class="club-img">
				<img class="img-responsive img-rounded" id="club-img" src="http://lorempixel.com/400/400/people/"></img>
		

			<h3 id="club-description"> We like to recycle, recycling is our passion</h3>

			</div>

			<div class="match-buttons">
				<div class="col-xs-4">
					<button id="yes-btn" class="club-buttons btn btn-primary btn-lg ">Yes!</button>
				</div>

				<div class="col-xs-8">
				   	<button id="no-btn" class="club-buttons btn btn-primary btn-lg ">No!</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>