.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.clubbr-body{
	padding: 70px;
}

.profile-thumbnail {
	height: 45px;
	width: 45px;
	border-radius: 50%;
}

.right-padding {
	padding-right: 5px;
}

#createProfileForm{
	margin: 25px;
}

#submitBtn{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.name-input-padding{
	padding: 20px;
}

.profile-pic{
	width: 200px;
	height: 200px;
}

.club-container {
  width: 50%;
  margin: 0 auto; 
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

.club-buttons {
  padding: 5px;
}

.footer{
  position: fixed;
  bottom: 0;
  height: 80px;
  padding: 10px;
  width: 100%;
  background: #FFFFFF;
}

.learn-more {
  position: fixed;
  bottom: 80px;
  height: 60px;
  padding: 10px;
  width: 100%;
  background: #FFFFFF;
}

.mid-align {
  text-align: center;
}

#club-img {
  width: 275px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.match-buttons {
  padding-left: 25px;
}

.search-container {
    margin-right: 200px;
    text-align: center;
    padding-top: 80px;
}

.search_bar{
    margin: 0 auto;
    width: 24px;
    height: 20px;
}

.search_input{
  width: 200px;
}

.search_button {
  width: 30px;
}

.profile-picture {
  width: 125px;
  height: 125px;
}

.profile-leftcol {
  padding-top: 100px;
  float: left;
}

#profile-rightcol {
    /* Move it to the right */
    text-align: center;
    float: right;
    padding-top: 200px;
    padding-left: 100px;
    /* For visibility. Delete me */
}

#profile-name{
  font-size: 200%;
}

#profile-email{
  font-size: 200%;
}