/*Nav Bar*/
.profile-thumbnail {
	height: 45px;
	width: 45px;
	border-radius: 50%;
}

.login-focus:focus {
  outline: none;
  outline-width: 0px;
}

.right-padding {
	padding-right: 5px;
}

.popover.bottom { 
  margin-top: 25px;
}

.nav-right {
  margin-top: 10px;
}

.clubbr-brand{
  padding: 15px 0px;
}


/*#createProfileForm{
	margin: 25px;
}*/

/*Home Page*/

#title {
  font-weight: bold;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#slogan {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.clubbr-body{
  padding: 70px;
}

/*#submitBtn{
	display: block;
	margin-right: auto;
	margin-left: auto;
}*/

/*Match Me */

.club-container {
  width: 50%;
  margin: 0 auto; 
  text-align: center;
  padding-top: 60px;
  padding-bottom: 120px;
}

.club-buttons {
  padding: 5px;
}

.full-width-button {
  display: block;
  width: 100%;
}

.footer{
  position: fixed;
  bottom: 0;
  height: 120px;
  padding: 10px;
  width: 100%;
  background: #FFFFFF;
}

.learn-more {
  position: fixed;
  bottom: 80px;
  height: 60px;
  padding: 10px;
  width: 100%;
  background: #FFFFFF;
}

.mid-align {
  text-align: center;
}

#club-img {
  width: 275px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

#yes-modal-body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*.match-buttons {
  padding-left: 25px;
}*/

/*Orgs Page*/

.search-container {
    margin-right: 200px;
    text-align: center;
    padding-top: 80px;
}

.search_bar{
    margin: 0 auto;
    width: 24px;
    height: 20px;
}

.search_input{
  width: 200px;
}

.search_button {
  width: 30px;
}

.listControl{
    margin-bottom: 15px;
}
    
.listControl a {
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    height: 1.5em;
    line-height: 1.5em;
    margin-right: 5px;
    padding: 4px 10px;
}
.listControl a:hover {
    background-color:#555555;
    color:#222222; 
    font-weight:normal;
}

/*Personal Profile*/

.name-input-padding{
  padding: 20px;
}

.profile-pic{
  width: 200px;
  height: 200px;
}

.profile-picture {
  width: 125px;
  height: 125px;
}

.profile-leftcol {
  padding-top: 100px;
  float: left;
}

#profile-rightcol {
    /* Move it to the right */
    text-align: center;
    float: right;
    padding-top: 200px;
    padding-left: 100px;
    /* For visibility. Delete me */
}

#profile-name{
  font-size: 200%;
}

#profile-email{
  font-size: 200%;
}