body { 
  background: #f0f0f0; 
}

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.space{
  margin-top: 5px;
  margin-bottom: 5px;
}

.profileBlock {
  display: block;
  padding-top: 30px;
  padding-bottom: 45px;
}

.content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#userphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 8px;
}

#userphoto img {
  display: block;
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

label.checkbox-inline {
  background-color: #dcdfd4;
  cursor: pointer;
  font-weight: lighter;
  margin-bottom: 10px !important;
  margin-right: 2%;
  margin-left:0;
  padding: 10px 10px 10px 30px;
}
label.checkbox-inline.checked {
  background-color: #C9CCC2;
  color: #fff !important;
  text-shadow: 1px 1px 2px #000 !important;
}
.checkbox-inline + .checkbox-inline{
  margin-left: 0;
}
.columns label.checkbox-inline {
  min-width: 190px;
  vertical-align: top;
  width: 30%;
}


/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }